:root {
  --background: #f0e5cf;
  --card-background: #f0d9ff;
  --card-shadow: #bfa2db;
  --text: #3f3e41;
}

@font-face {
  font-family: "Pacifico";
  src: url("static/Pacifico/Pacifico-Regular.ttf");
  font-display: swap;
}

form input[type="text"] {
  border-radius: 1em;
  padding: 0.5em 0.75em;
  background-color: var(--card-background);
  border-color: var(--card-shadow);
  border-style: solid;
}

form input[type="submit"] {
  background-color: var(--card-background);
  border-color: var(--card-shadow);
  border-style: solid;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1.25em;
  margin-left: 15px;
}

h1 {
  font-family: Pacifico, serif;
  color: var(--text);
}

p {
  color: var(--text);
}

html {
  background-color: var(--background);
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: space-around;
    gap: 10%;
  }
  #post-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
  }
}

form .rows {
  display: table;
  border-spacing: 1rem;
  border-collapse: separate;
}

form {
  text-align: left;
}

.card {
  background-color: var(--card-background);
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3rem;
  margin-bottom: 3rem;
  border: var(--card-shadow) 0.5rem solid;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  text-align: left;
}

.small {
  font-size: 0.8rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}
label {
  display: table-row;
}
label span {
  display: table-cell;
  text-align: left;
  color: var(--text);
}
input {
  display: table-row;
}

.App {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
